In [2]:
# Load all required Libraries
import pandas as pd
from datasets import Dataset

# Read Passages from the Datasets and Drop rows if they are NA or empty

In [4]:
# Text-Corpus Passages Data
passages = pd.read_parquet("hf://datasets/rag-datasets/rag-mini-wikipedia/data/passages.parquet/part.0.parquet")

print(passages.shape)
passages.head()

(3200, 1)

                                              passage
id
0   Uruguay (official full name in  ; pron.  , Eas...
1   It is bordered by Brazil to the north, by Arge...
2   Montevideo was founded by the Spanish in the e...
3   The economy is largely based in agriculture (m...
4   According to Transparency International, Urugu...

In [5]:
# Question-Answer Data
queries = pd.read_parquet("hf://datasets/rag-datasets/rag-mini-wikipedia/data/test.parquet/part.0.parquet")

print(queries.shape)
queries.head()

(918, 2)

                                             question     answer
id
0   Was Abraham Lincoln the sixteenth President of...        yes
2   Did Lincoln sign the National Banking Act of 1...        yes
4                    Did his mother die of pneumonia?         no
6       How many long was Lincoln's formal education?  18 months
8        When did Lincoln begin his political career?       1832

In [7]:
# Dataset dimensions and basic info (Suggested by Claude Code. See Appendix A)
print("Dataset Information:")
print(f"Shape: {passages.shape}")
print(f"Columns: {list(passages.columns)}")
print(f"Data Types: {passages.dtypes}")
print(f"Index range: {passages.index.min()} to {passages.index.max()}")
print("\n")
print("Queries Information:")
print(f"Shape: {queries.shape}")
print(f"Columns: {list(queries.columns)}")
print(f"Data Types: {queries.dtypes}")
print(f"Index range: {queries.index.min()} to {queries.index.max()}")

Dataset Information:
Shape: (3200, 1)
Columns: ['passage']
Data Types: passage    string[python]
dtype: object
Index range: 0 to 3200


Queries Information:
Shape: (918, 2)
Columns: ['question', 'answer']
Data Types: question    string[python]
answer      string[python]
dtype: object
Index range: 0 to 1714

In [12]:
# Missing values
print("Passages missing values:", passages.isnull().sum().sum())
print("Queries missing values:", queries.isnull().sum().sum())

# Empty strings
print("Empty passages:", (passages['passage'] == '').sum())
print("Empty questions:", (queries['question'] == '').sum())
print("Empty answers:", (queries['answer'] == '').sum())

# Duplicates
print("Duplicate passages:", passages.duplicated().sum())
print("Duplicate queries:", queries.duplicated().sum())

Passages missing values: 0
Queries missing values: 0
Empty passages: 0
Empty questions: 0
Empty answers: 0
Duplicate passages: 4
Duplicate queries: 0